.body {
  margin: 0;
  padding: 0;
  background: rgb(212, 51, 113);
}
.test {
  background: rgb(212, 51, 113);
}

.container {
  margin: 200px auto;
  width: 33%;
  text-align: center;
  align-content: center;
  background: rgb(46, 31, 31);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 25px 1px rgb(46, 31, 31);
  position: relative;
}

.container-content {
  display: flex;
}

.contact-us {
  color: rgb(212, 51, 113);
  text-align: left;
  font-size: 15px;
  font-weight: 10px;
  text-transform: uppercase;
  margin-left: 20px;
}
.underline {
  border-bottom: 2px solid rgb(212, 51, 113);
}

form {
  margin-left: 130px;
  margin-top: 10px;
  padding: 5px;
}

input {
  margin-bottom: 10px;
  padding: 6px 0;
  border-style: none;
  border-bottom: 2px solid rgb(66, 58, 58);
  background: none;
  color: white;
}

/*textarea{
  margin-top: 5px;
  background: none;
  border-style:none;
  border-bottom: 2px solid rgb(66, 58, 58);
}*/

button {
  background: none;
  border-style: none;
  color: rgb(212, 51, 113);
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}

#cancel-btn {
  text-align: right;
  margin-left: 160px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .container {
    width: auto;
    margin-right: 250px;

    text-align: center;
  }

  input {
    margin-left: -30px;
  }

  #btn-1 {
    margin-left: 45px;
  }
}

@media only screen and (min-width: 100px) {
  .container {
    width: 500px;
    /*border: 1px solid white;*/
  }

  input {
    margin-left: -30px;
  }

  #btn-1 {
    margin-left: 45px;
  }
}
